<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://kit.fontawesome.com/73dba2e5fe.js" crossorigin="anonymous"></script>

    <title>Mercado Liebre | Home</title>
</head>

<body class="home">

    <header class="home__header">

        <div class="home__header__encabezado">

            <img href="/" src="/img/logo-mercado-liebre.svg" alt="">

            <div class="home__header__buscar">
                <div class="input__buscar__contenedor">
                    <input type="search" class="input__buscar" placeholder="Buscar Producto, marcas">

                    <i class="fa-solid fa-magnifying-glass home__header__lupa"></i>
                </div>
            </div>

            <div class="home__header__cuotas">
                <a href="" class="home__header--cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas
                    y sin tarjetas de créditos</a>
            </div>

        </div>

        <nav class="home__header__nav">

            <ul class="home__header__nav--site">

                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>

            <ul class="home__header__nav--loggin">

                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>

        </nav>
        <div class="home__header__burger">

            <a href="" class="home__header__box--bars"><i class="fa fa-bars fa-lg"></i></a>

        </div>
    </header>

    <main class="register">

        <div class="register__box">

            <form action="" method="">

                <div class="input__box__form__input">
                    <input type="text" placeholder="Nombre y Apellido" class="input__box__form--input">
                </div>

                <div class="input__box__form__input">
                    <input type="text" placeholder="Nombre de Ususraio" class="input__box__form--input">
                </div>

                <div class="input__box__form__input">
                    <input type="email" placeholder="E-mail" class="input__box__form--input">
                </div>

                <div class="input__box__form__input">
                    <h4>Fecha de Nacimiento</h4>
                    <input type="date" class="input__box__form--input">

                </div>

                <div class="input__box__form__input">
                    <input type="text" placeholder="Domicilio" class="input__box__form--input">
                </div>

                <div class="input__box__form__input">
                    <h4>Perfil de Usuario</h4>

                    <div class="radio__box__form__radio">

                        <div class="radio__box__form__radio__parte">
                            <input type="radio" value="comprador" name="perfil" id="comprador">
                            <label for="comprador">Comprador</label>
                        </div>

                        <div class="register__box__form__radio__parte">
                            <input type="radio" value="vendedor" name="perfil" id="vendedor">
                            <label for="vendedor">Vendedor</label>
                        </div>

                    </div>

                    <div class="input__box__form__input">

                        <h4>Intereses</h4>

                        <div class="checkbox__box__form__checkbox__parte">
                            <input type="checkbox" value="electro" name="interes" id="electro">
                            <label for="elctro">Electro</label>
                        </div>

                        <div class="checkbox__box__form__checkbox__parte">
                            <input type="checkbox" value="moda" name="interes" id="moda">
                            <label for="moda">Moda</label>
                        </div>

                        <div class="checkbox__box__form__checkbox__parte">
                            <input type="checkbox" value="hogar" name="interes" id="hogar">
                            <label for="hogar">Hogar</label>
                        </div>

                        <div class="checkbox__box__form__checkbox__parte">
                            <input type="checkbox" value="jugeteria" name="interes" id="jugeteria">
                            <label for="jugeteria">Jugueteria</label>
                        </div>

                        <div class="checkbox__box__form__checkbox__parte">
                            <input type="checkbox" value="vida_sana" name="interes" id="vida_sana">
                            <label for="vida_sana">Vida Sana</label>
                        </div>

                        <div class="input__box__form__input">
                            <h4>Foto de Usuario</h4>
                            <input type="file" name="avatr" accept="jpg" multiple>
                        </div>
                    </div>
                </div>

                <div class="botom__box__form__btn">

                    <div class="botom__box__form__btn__butttom">
                        <button class="botom__box__form__btn__butttom__select enviar"><a href="/">Enviar</a></button>
                    </div>

                    <div class="botom__box__form__btn__butttom">
                        <button type="reset" class="botom__box__form__btn__butttom__select limpiar">Limpiar</button>
                    </div>
                </div>

            </form>

        </div>

    </main>

    <footer class="footer">

        <section class="footer__section">

            <article class="footer__section__article">
                <i class="fa-solid fa-credit-card"></i>
                <p class="footer__section__article--p1"><b>Pagà con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash tenès cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre
                    es seguro!</p>
            </article>

            <article class="footer__section__article">
                <i class="fa-solid fa-gift"></i>
                <p class="footer__section__article--p1"><b>Envio gratis desde $ 2.500</b></p>
                <p>Solo por estar registrado en Mercado Liebre tenès envios gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>

            <article class="footer__section__article">
                <i class="fa-solid fa-user-shield"></i>
                <p class="footer__section__article--p1">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estàs siempre
                    protegido.</p>
            </article>


            <p class="footer__section--copy">Copyring C 1999-2020 MercadoLiebre S.R.L.</p>



        </section>

    </footer>

</body>

</html>