.footer{
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.footer__section__article{
    text-align: center;
    margin: 20px 0;
}

.footer__section__article i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

.footer__section__article--p1{
    font-weight: 900;
}

.footer__section--h6{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 481px){

    .footer{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 100%;
    }
    
     .footer__section__article{
         width: 100%;
         
     }

     .footer__section__article__pie{
        display: flex;
        width: 100%;
        justify-content: center;
    }
 
}

@media (min-width: 1024px){

   .footer__section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 0 20px;
   }
   
    .footer__section__article{
        width: 30%;
        
    }

    .footer__section__article i{
        font-size: 2em;
        padding-bottom: 10px;
    }

    .footer__section__article p{
        font-size: 13px;
    }

    .footer__section__article__pie{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .footer__section--h6{
        font-size: 20px;
    }

   
}