.footer{
    text-align: center;
    
}

.footer__section{
    
    border-width: 50px;
    padding: 5px;
}

.footer__section__article{
    padding: 24px;
    text-align: center;
    background-color: white;
    border-color: white;
   
}

.footer__section__article i{
    font-size: 2em;
    padding-bottom: 10px;
    color: var(--colorCeleste);
}

.footer__section__article--p1{
    font-weight: 900;
}

.footer__section--h6{
    padding-top: 20px;
    padding-bottom: 20px;
}




@media (min-width: 1024px){

    .footer__section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer__section__article{
        width: 33%;
        
    }

    .footer__section__article i{
        font-size: 2em;
        padding-bottom: 10px;
    }

    .footer__section__article p{
        font-size: 13px;
    }

    .footer__section--h6{
        font-size: 20px;
    }

   
}