header{
    padding: 20px;
    background-color: var(--colorAmarillo);
  
}

.home__header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    
}

.home__header__buscar{
    display: flex;
}

.home__header__lupa{
    background-color: #ffffff;
    padding: 2px;
    font-size: 10px;
}

.home__header img{
    width: 50%;
}

.home__header a{
    text-decoration: none;
}

.home__header--cuotas{
    text-align: center;
    
}

.home__header__nav{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.home__header__nav ul{
    display: none;
    list-style: none;
    gap: 2px;
    
}

.home__header__burger{
    display: flex;
    justify-content: center;
}

.home__header__box--bars{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorCeleste);
    width: 25px;
    height: 25px;
    border-radius: 5px;
    color: #ffffff;
}

@media(min-width: 481px) {

    .home__header__box--bars{
        display: none;
        
    }

    .home__header__nav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2px;
        
    }
}

@media (min-width: 1024px){
    header{
        font-size: 30px;
    }

    .home__header__lupa{
        font-size: 25px;
}
}