
.register__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}



.login__box__form__buttom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}